/* We start writing out flexbox here. The above is just page setup */
.container {
  display: flex;
  border: 10px solid goldenrod;
  min-height: 100vh;
  /* flex-wrap: wrap; */
}

.box {
  width: 33.3333333%;
}