/* We start writing out flexbox here. The above is just page setup */
.container {
  display: flex;
  flex-wrap: wrap;
  border: 10px solid goldenrod;
  height: 100vh;
}

.box {
  width: calc(33.3333333% - 20px);
  margin: 10px;
  /* Setting margin without the calc() value above to remove the added margin (10px left + 10px right = 20px) will breake the layout.*/
}