/* We start writing out flexbox here. The above is just page setup */

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
  border: .5rem solid goldenrod;
}

.box {
  flex-basis: 200px;
  flex-grow: 1;
}

.box3 {
  flex-grow: 5;
}

.box4 {
  flex-basis: 100px;
}

/*
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 10px solid goldenrod;
  height: 100vh;
}

.box {
  flex-basis: 250px;
  flex-grow: 1;
}


.box3 {
  flex-grow: 5;
}

.box4 {
  flex-basis: 100px;
} */