/* Some CSS Setup - nothing to do with flexbox */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
}

a {
  color: white;
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.2);
  padding: 20px 5px;
  display: inline-block;
  width: 100%;
  text-align: center;
  transition: all 0.5s;
}

a:hover {
  background: rgba(0, 0, 0, 0.3);
}

.toggleNav {
  display: none;
}

img {
  width: 100%;
}

.hero-background {
  background-color: rgba(0, 0, 0 .2);
  height: 70vh;
  background-image: url(https://picsum.photos/1000/600/?random);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

input {
  padding: 10px;
  border: 0;
}


section,
footer {
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 20px 0;
  color: white;
  font-weight: 100;
}

/* Flex Container */
.flex-nav ul {
  display: flex;
  border: 1px solid black;
  list-style: none;
  margin: 0;
  padding: 0;
}

.flex-nav li {
  flex: 3;
}

.flex-nav .social {
  flex: 1;
}

@media all and (max-width:1000px) {
  .flex-nav ul {
    flex-wrap: wrap;
  }

  .flex-nav li {
    flex: 1 1 50%;
  }

  .flex-nav .social {
    flex-basis: 25%;
  }
}

@media all and (max-width:500px) {

  .hero-background {
    height: 30vh !important;
  }

  /* Flex container */
  .wrapper {
    display: flex;
    flex-direction: column;
  }

  /* Flex item */
  .wrapper>* {
    order: 9999;
  }

  .flex-nav {
    order: 1;
  }

  .top {
    order: 2;
  }

  .details {
    order: 3;
  }

  .signup {
    order: 4;
  }

  .hero {
    order: 5;
  }

  .flex-nav li {
    flex-basis: 100%;
  }

  .toggleNav {
    display: block;
  }

  .flex-nav ul {
    display: none;
  }

  .flex-nav ul.open {
    display: flex;
  }

}