/* We start writing out flexbox here. The above is just page setup */
.container {
  display: flex;
  border: 5px solid goldenrod;
}

.box {
  flex: 1;
  /* Causes flex items to grow to fill the flex container */
}

.box3 {
  order: 1;
}

.box5 {
  order: 2;
}

/*
.box {
  flex: 1;
}

.box3 {
  order: 1;
}

.box5 {
  order: 2;
} */