/* We start writing out flexbox here. The above is just page setup */
.container {
  display: flex;
  align-items: flex-start;
  height: 100vh;
  border: 10px solid gold;
}

.box {
  width: 33.333%;
}

.box2 {
  padding-bottom: 200px;
}

.box4 {
  align-self: flex-start;
}

.box5 {
  align-self: center;
}

.box6 {
  align-self: flex-end;
  padding-bottom: 0;
}

.box7 {
  align-self: center;
}

.box9 {
  align-self: stretch;
  padding-bottom: 50px;
}


/**
* justify-content
 * Apply to the parent flex container.
 */
/* .container {
  justify-content: flex-start;
  justify-content: flex-end;
  justify-content: center;
  justify-content: space-between;
  justify-content: space-around;
  justify-content: space-evenly;
} */